@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

*{margin:0;padding:0;}


#header{
  top: 0px;
  width:100%;
  height:50px;
  background:#3399cc;
  position: fixed;
  z-index:10;
}

#logo{
  text-decoration:none;
  border: 0 none;
  height:27px;
  padding:10px;
  padding-left:60px;
}
#logo:hover{
  opacity:1;
}
#tab{
  height:20px;
  padding:10px;
  padding-left:0px;
}

#signup{
  font-family:'Open Sans',sans-serif;
  color:white;
  padding:12px;
  float:right;
  font-weight:500;
}
#signin{
  font-family:'Open Sans',sans-serif;
  color:white;
  padding:12px;
  padding-right:60px;
  float:right;
  font-weight:500;
}


body{
  background-attachment: fixed;
  background-image:url("../images/snowyforest.jpg");
  font-family:'Open Sans',sans-serif;
}

#article{
  width:800px;
  margin:0 auto;
  margin-top:100px;
  margin-bottom:2%;
  transition:opacity 1s;
  -webkit-transition:opacity 1s;
}

#article h1{
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  background:#3399cc;
  padding:20px 0;
  font-size:140%;
  font-weight:300;
  text-align:center;
  color:#fff;
}

#content{
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  font-family:'Open Sans',sans-serif;
  background:#f0f0f0;
  padding:6% 4%;
  padding-bottom:3%;
}
#content p{
  padding: 4% 1% 0%;
}
#ptitle{
  display: block;
  max-width: 650px;
  position:relative;
  left:60px;
  text-decoration: none;
  opacity:0.9;
  color:#6699ff;
}
#content a:hover{
  opacity:1;
}
.up{
  position:absolute;
  opacity:0.5;
  margin-top:-10px;
  margin-left:8px;
  width:25px;
}
.down{
  position:absolute;
  opacity:0.5;
  margin-top:30px;
  margin-left:8px;
  width:25px;
}
#content img:hover{
  opacity:1;
}
#score{
  position:absolute;
  text-align: center;
  opacity:0.55;
  margin-top:10px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 694px;
  
}
#commentsd{
  opacity:0.8;
  font-size:14px;
  position:relative;
  left:60px;
}

#post{
  padding-bottom:50px;
}
#info{
  color:rgba(0,0,0,0.5);
  font-size:14px;
  position:relative;
  left:60px;
}
#info a{
  opacity:0.8;
  color:black;
  text-decoration: none;
  
}

#uparrow{
  margin-top:-30px;
  position:absolute;
  width:25px;
  padding:10px;
  padding-top:13px;
  opacity:0.6;
}
#uparrow:hover{
  opacity:1;
}
#downarrow{
  position:absolute;
  width:25px;
  padding:10px;
  padding-top:13px;
  opacity:0.6;
}
#downarrow:hover{
  opacity:1;
}
#count{
  position:absolute;
  font-family:'Open Sans',sans-serif;
  opacity:0.5;
  margin-left:13.8px;
  margin-top:1px;
  font-size:14px;
}

#points{
  font-family:'Open Sans',sans-serif;
  opacity:0.7;
  font-weight:600;
}

input{
  outline-width: 0;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  position:relative;
  width:91.7%;
  background:#fff;
  border:1px solid #ccc;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:95%;
  color:#555;
}

#comment a{
  font-size:13px;
  position:absolute;
  top:10px;
  color:  #6699ff;
  text-decoration: none;
}
#comment{
  position:relative;
  font-family:'Open Sans',sans-serif;
  top:20px;
  left:3%;
  width:90%;
  padding-bottom:65px;
  margin-bottom:10px;
  padding-left:20px;
  background:#fff;
  border-radius:20px;
}
#comment:hover{
  opacity:1;
}
#comment img{
  opacity:0.6;
  position:absolute;
  left:-30px;
  width:20px;
}
#upcomment{
  top:16px;
}
#downcomment{
  top:40px;
}
#text{
  position:absolute;
  top:30px;
}

#dropmenu{
  position:fixed;
  margin-top:-45px;
  margin-left:110px;
  z-index:100000;
}
.dropdown-content {
  border-radius:15px;
  z-index:100000;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
z-index:100000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
#bottom:hover{
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}
#top:hover{
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}
#tri{
  margin-top:20px;
  width:12px;
  float:right;
  padding-right:60px;
}
#c_user{
  font-family:'Open Sans',sans-serif;
  color:white;
  padding:12px;
  padding-right:6px;
  float:right;
  font-weight:500;
}

#umenu{
  float:right;
  margin-right:120px;
  margin-top:-45px;
  z-index:100000;
}
.u-content {
  position:fixed;
  border-radius:15px;
  z-index:100000;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.u-content a {
  z-index:100000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.u-content a:hover {
  background-color: #f1f1f1;
}
#ubottom:hover{
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}
#utop:hover{
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}


.postso
{
  text-align: center;
  color: #0C5;

  font-size: 140%;
  font-family:'Open Sans',sans-serif;
  font-weight: 300;
  
  margin: 5em auto;
  
  position: absolute; 
  top:-8px; right:0; bottom:0; left:0px;
  
  padding: 20px 0;
  padding-top:15px;
  padding-bottom:34px;
  width: 300px;
  height:16px;

  background: #3399cc;
  border: 1px solid #3399cc;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.postso:hover, .postso:active 
{
  text-decoration: none;
}

.postso span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  
  transition: padding-right 0.5s;
}

.postso span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 2px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.postso:hover span, .postso:active span, .postsort-content:hover #anitit, .postsort-content:active #anitit
{
  padding-right: 30px;
}

.postso:hover span:after, .postso:active span:after, .postsort-content:hover #anitit:after, .postsort-content:active #anitit:after
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #FFF;
  right: 0;
  top: 50%;
}

#postsort{
  position:absolute;
  margin-top:-15px;
  margin-left:400px;
  z-index:100000;
}
.postsort-content {
  border-radius:15px;
  z-index:100000;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 135px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.postsort-content a {
  z-index:100000;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.postsort-content a:hover {
  background-color: #f1f1f1;
}
#bottom:hover{
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
}
#top:hover{
  border-top-right-radius:15px;
  border-top-left-radius:15px;
}

#cenpag {
  text-align:center;
  margin-top:30px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    background:#f0f0f0;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #3399cc;
    color: #f0f0f0;
    border: 1px solid #3399cc;
}
.leftmost {
  border-top-left-radius:10px;
  border-bottom-left-radius:10px;
}
.rightmost {
  border-top-right-radius:10px;
  border-bottom-right-radius:10px;
}
.pagination a:hover:not(.active) {background-color: #ddd;}
